body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Background image */
	background-image: url("../assets/background/scattered-forcefields.svg");
	background-repeat: no-repeat;
	background-size: 100%;

	/* Text color */
	color: white;

	/* Disable text selection */
	user-select: none;
}

* {
	box-sizing: border-box;
}
